---
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";

---

<section class="relative h-full bg-black lg:min-h-[550px]">
  <Starfield />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative lg:grid h-full lg:place-items-center sm:grid-cols-2 max-lg:pt-4">
    <h2
      class="flex flex-col items-center gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <Icon name="logomark" class="size-20 text-white md:size-32" />
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-6xl md:text-8xl"
      >
        Узнай всё
        <br />о майнинге
        <br />и не трать время
      </div>
    </h2>
    </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @media (prefers-reduced-motion: reduce) {
    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
